:host {
    display: block;
    margin-bottom: 10px;
    >.collapse-panel {
        >.header {
            padding: 20px 0;
        }
        >.body {
            transition: all .5s ease;
            >.padding {
                padding: 20px 10px;
                border-radius: 6px;
                background-color: var(--bluegray-100);
                border: 1px solid var(--bluegray-300);
            }
        }
    }
}